@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  font-family: "Open Sans", sans-serif;
}

* {
  color:rgb(36, 13, 41);
  text-align: center;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  padding:0%;
  margin:0;
}

nav{
    display: flex;
    flex-direction: row-reverse;
    text-indent: 30px;
    color: #9c04a1;
    font-size: large;
    overflow: hidden;
}

#footer {
  position:absolute;
  bottom:0;
  margin:0;
  width:100%;
  height:30px;   /* Height of the footer */
  background:rgba(156, 4, 161, 0.185);
  overflow: hidden;
}

.footer{
  display: flex;
  text-align: right;
  flex-direction: row-reverse;
}